{% extends 'menu/master.html' %}

{% block mymessage %}

    <table class="table table-responsive table-striped table-bordered table-hover">
        <tr>
            {% for column in columns %}
            <th class="table-primary">
                {{ column }}
            </th>
            {% endfor %}
        </tr>
        {% for row in rows %}
            <tr>
                {% for key, value in row.items %}
                <td>
                    {{ value }}
                </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>

    <br>
    <br>

{% endblock %}
