{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Paul Thompson</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{% static 'menu/css/paul.css' %}">
</head>
<body>
<div class="myDiv">
    <h1>{{ menu_content.label }}</h1>
    <p>{{ subheading }}</p>
    <a href="{% url menu_content.back_url menu_content.id %}">Back</a> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <a href="{% url 'menu:mainmenu' %}">Home</a></li>
</div>
<br>
<br>

<form method="get">
    {{ form.as_p }}
<button type="submit">Submit</button>
<br>
<br>

    {% if query_count > 0 %}

        <p>Number of rows: {{ query_count }} </p>

    <table class="styled-table">
        <tr>
            {% for column in columns %}
            <th>
                {{ column }}
            </th>
            {% endfor %}
        </tr>
        {% for row in rows %}
            <tr>
                {% for key, value in row.items %}
                <td>
                    {{ value }}
                </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>

    {% else %}
        {% if number_of_people > 0 %}
        <p> No rows returned</p>
        {% endif %}
    {% endif %}

    <br>
    <br>


    <a href="{% url menu_content.back_url menu_content.id %}">Go back to Previous Page</a>
    <br>
    <br>

    <a href="{% url 'menu:mainmenu' %}">Return to Main Menu</a></li>
</body>
</html>
