{% extends 'menu/master.html' %}

{% block mymessage %}

    <form method="get">
    {{ form.as_p }}
        <button type="submit">Submit</button>
    <br>
    <br>

    {% if query_count > 0 %}

        <p>Number of rows: {{ query_count }} </p>

        <table class="table table-responsive table-striped table-bordered table-hover">
            <tr>
                {% for column in columns %}
                    <th class="table-primary">
                        {{ column }}
                    </th>
                    {% endfor %}
            </tr>
            {% for row in rows %}
                <tr>
                    {% for key, value in row.items %}
                    <td>
                        {{ value }}
                    </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>

    {% else %}

        {% if number_of_people > 0 %}
            <p> No rows returned</p>
        {% endif %}

    {% endif %}

    <br>
    <br>

{% endblock %}
