{% extends 'menu/master_menu.html' %}

{% block mymessage %}

{% if menu %}
    <ul>
    {% for menucontent in menu.menucontent_set.all %}
    <li >
        <a href="{% url menucontent.url_to_call menucontent.id %}">{{ menucontent.label }}</a>
    </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No options are available.</p>
{% endif %}

{% if menu.parent != "none" %}
    <a href="{% url 'menu:mainmenu' %}">Return to Main Menu</a></li>
    {% if menu.parent != "main_menu" %}
        <a href="{% url menu.parent %}">Return to Parent Menu</a></li>
    {% endif %}
{% endif %}

{% endblock %}

