{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Paul Thompson</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{% static 'css/paul.css' %}">
</head>
<body>
<div class="myDiv">
    <h1>{{ menu.heading }}</h2>
  <p>System Search Features.</p>
</div>

{% if menu %}
    <ul>
        {% for menucontent in menu.menucontent_set.all %}
    <li >
        <a href="{% url menucontent.url_to_call %}">{{ menucontent.label }}</a>
    </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No options are available.</p>
{% endif %}

{% if menu.parent != "none" %} 
    <a href="{% url 'menu:mainmenu' %}">Return to Main Menu</a></li>
    {% if menu.parent != "main_menu" %} 
        <a href="{% url menu.parent %}">Return to Parent Menu</a></li>
    {% endif %}
{% endif %}

</body>
</html>

