{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Paul Thompson</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{% static 'css/paul.css' %}">
</head>
<body>
<div class="myDiv">
  <h1>Technical Systems</h1>
  <p>System Search Features - Menu 1.1.</p>
</div>

<ul>
    <li> 
        <a href="{% url 'menu:peoplelist' %}">Get Peoples Names
    </li>
    <li> Lookup Option 2</li>
    <li> Lookup Option 3</li>
</ul>

    <br>
    <br>

    <li>
        <a href="{% url 'menu:mainmenu' %}"> Go Back to Main Menu
    </li>
    <br>
    <br>

</body>
</html>
