{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Paul Thompson</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{% static 'css/paul.css' %}">
</head>
<body>
<div class="myDiv">
  <h1>Technical Systems</h2>
  <p>Second Search Features.</p>
</div>

{% if second_command_list %}
    <ul>
    {% for dict_menu in second_command_list %}
    <li >
         <a href="{{dict_menu.url_to_call}}">{{ dict_menu.label }}</a>
    </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No options are available.</p>
{% endif %}

<a href="{% url 'menu:mainmenu' %}">Return to Main Menu</a></li>

</body>
</html>
